# EditorConfig information: http://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set charset for JavaScript, and Python
[*.{js,py}]
charset = utf-8

# Set indent style for Python, JSON, and YAML
[*.{py,json}]
indent_style = space
indent_size = 4

# Set indent style for XML
[*.{xml,yml,yaml}]
indent_style = space
indent_size = 2

# Set indent style for Makefile
[Makefile]
indent_style = tab

