{% extends 'layout.html' %}

{% block content %}

    <style>
    td, th {
      border: 1px solid #999;
      padding: 1.0rem;
    }
    .container {
      margin: auto;
      width: 80%;
      border: 3px solid black;
      padding: 10px;
    }
    #repository_results_table {
      margin: auto;
      width: 80%;
      padding: 10px;
    }
    </style>

    <div class="container">
        <p>Docker Registry Repository Tags: {{ repository_name }}</p>
       <div id="repository_results_div">
           {% if repository_results_data %}
           <table id="repository_results_table">
               <tr>
                   <th>REPOSITORY TAG</th>
               </tr>
               {% for tag in repository_results_data %}
                   <tr>
                       <td><a href="/manifest/{{ repository_name }}/{{ tag }}">{{ tag }}</a></td>
                    </tr>
               {% endfor %}
           </table>
           {% else %}
               NO REPOSITORY TAGS FOUND
           {% endif %}
           <br><br>
           <form action="/" method="get">
             <input type="submit" value="GO BACK">
           </form>
       </div>
    </div>
{% endblock %}
