{% extends 'layout.html' %}

{% block content %}

    <style>
    .container {
      margin: auto;
      width: 80%;
      border: 3px solid black;
      padding: 10px;
    }
    #repository_results_table {
      margin: auto;
      width: 80%;
      padding: 10px;
    }
    </style>

    <div class="container">
        <p>Docker Registry Repository {{ repository_name }} Manifest Tag: {{ tag }} </p>
       <div id="repository_results_div">
           {% if repository_tag_manifest_results_data %}
               <textarea rows="50" cols="120">{{ repository_tag_manifest_results_data }}</textarea>

           {% else %}
               NO REPOSITORY MANIFEST TAGS FOUND
           {% endif %}
           <br><br>
           <form action="/repository/{{ repository_name }}" method="get">
             <input type="submit" value="GO BACK">
           </form>
       </div>
    </div>
{% endblock %}
